<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.aplicatiemonitorizarelocuriparcare">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.AplicatieMonitorizareLocuriParcare">
        <activity android:name=".codIntrareIesire"></activity>
        <activity android:name=".detaliiCont" />
        <activity android:name=".solicitaParcare" />
        <activity android:name=".profilUtilizator" />
        <activity android:name=".parolaUitata" />
        <activity android:name=".paginaPrincipala" />
        <activity android:name=".paginaInregistrare" />
        <activity android:name=".detaliiParcare" />
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>